:root{
    /*Color*/
        /*Primary*/
            --clr-primary-blue:hsl(233, 26%, 24%);
            --clr-primary-Green:hsl(136, 65%, 51%);
            --clr-primary-cyan:hsl(192, 70%, 51%);

        /*Neutral*/
            --clr-neutral-blue:hsl(233, 8%, 62%);
            --clr-neutral-Grayish-blue:hsl(220, 16%, 96%);
            --clr-neutral-gray:hsl(0, 0%, 98%);
            --clr-neutral-header:hsl(0,0%,100%);

        /*text-colot*/
            --clr-text-buttom:white;

    /*font*/
        /*size*/
            --fz-title:1.38rem;
            --fz-sudtitle:1.1rem;
            --fz-text:0.8rem;
            --fz-menu:0.74rem;

        /*weight*/
            --fw-normal:300;
            --fw-medium:400;
            --fw-blond:700;

    /*Padding and margin*/
        /*padding*/
            --p-relleno:1em;

}
html{
    font-size: 18px;
}
body{
    font-family: 'Public Sans', sans-serif;
    background-color: rgb(121, 110, 110);
}


.buttom{
    display: none;
    border: none;
    padding: .5em 2em;
    border-radius: 50px;
    color: var(--clr-text-buttom);
    cursor: pointer;
    font-size: var(--fz-text);
    background: rgb(14,0,255);
background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(51,182,55,1) 0%, rgba(33,169,193,1) 100%, rgba(0,212,255,1) 100%);

}

.logo{
    margin: var(--p-relleno) ;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-neutral-header);
}

.hamburger{
    display: inline-block;
    margin-right: 1em;
    cursor:pointer;
    transition: all 1s ;
  
}
.navigation{
    position: fixed;
    height: 50vh;
    width: 100%;
    top:50px;
    visibility: hidden;
  
   
    
   
}
.navigation__list{
    background-color: var(--clr-neutral-header);
    display: flex;
    flex-direction: column;
    padding: var(--p-relleno);
    list-style: none;
    border-radius: 5px;
    font-weight: var(--fw-medium);
    font-size: var(--fz-menu);
    width: 70%;
    text-align: center;
    justify-content: space-around;
    margin: 2em auto 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
   
  
 
}

.navigation__item:hover{
    border-bottom: 2px solid black;
}
.navigation__item {
  margin-bottom: 1em;
  
}
.navigation__item:first-child{
    margin-top: 1em;
}
nav.visible{
    visibility: visible;
}

@media (min-width:700px) {
    .header{
        justify-content: space-around;
    }
    .navigation{
        position: static;
        display: flex;
        visibility: visible;
        width: 50%; 
        height: 100%;
       
    }
    .navigation__list{
        flex-direction: row;
        box-shadow: none;
        /* margin: 2em auto 0 ; */
        padding: 0;
        opacity: .5;
        height: 100%;
        width: 100%;

        margin-bottom: 2em;

    }
    .navigation__item:first-child{
        margin-top:0;
    }
    .navigation__item{
        margin: 0 1em;
    }
    .hamburger{
        display: none;
    }
    .buttom{
        display: inline;
    }
}